.audioPlayer {
   display: block;
}

.audioControls {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 700px;
   border: 1px solid black;
}

.playPauseBtn {
   background: none;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: monospace;
   font-size: 1.5rem;
   cursor: pointer;
   width: 2rem;
   height: 2rem;
   padding: 0;
}

.playPauseBtn:hover {
   color: rgb(73, 11, 73);
}

.play {
   position: relative;
}

.backBtn {
   background: none;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: monospace;
   font-size: 1rem;
   cursor: pointer;
   width: 1rem;
   height: 1rem;
   padding: 0;
}

.skipBtn {
   background: none;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: monospace;
   font-size: 1rem;
   cursor: pointer;
   width: 1rem;
   height: 1rem;
   padding: 0; 
}

.currentTime,
.duration {
   font-family: monospace;
   font-size: .9rem;
}

.currentTime {
   margin: 0 .3rem 0 .5rem;
}

.duration {
   margin-left: .3rem;
}

/********* Progress Bar **********/

/* CHROME */
.progressBar {
   --bar-bg: rgb(231, 234, 237);
   --seek-before-width: 0;
   --seek-before-color: rgb(73, 11, 73);
   --knobby: rgb(56,53, 53);
   
   appearance: none;
   background-color: var(--bar-bg);
   border-radius: .7rem;
   position: relative;
   width: 100%;
   height: .75rem;
   outline: none;
   margin: 0;
}

/* SAFARI */ 
.progressBar::-webkit-slider-runnable-track {
   background: var(--bar-bg);
   border-radius: .7rem;
   position: relative;
   width: 100%;
   height: .75rem;
   outline: none;
}

/* FIREFOX */
.progressBar::-moz-range-track {
   background-color: var(--bar-bg);
   border-radius: .8rem;
   position: relative;
   width: 100%;
   height: .75rem;
   outline: none;
}

.progressBar::-moz-focus-outer {
   border: 0;
} 

/* CHROME & SAFARI */ 
.progressBar::before {
   content: '';
   width: var(--seek-before-width);
   height: .75rem;
   background-color: var(--seek-before-color);
   border-top-left-radius: .7rem;
   border-bottom-left-radius: .7rem;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   cursor: pointer;
}

/* FIREFOX */ 
.progressBar::-moz-range-progress {
   background-color: var(--seek-before-color);
   border-top-left-radius: .7rem;
   border-bottom-left-radius: .7rem;
   height: .75rem;

}

/* knobby for CHROME & SAFARI */ 
.progressBar::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   border: 1px solid white;
   background-color: var(--knobby);
   cursor: pointer;
   position: relative;
   margin: -2px 0 0 0;
   z-index: 3;
   box-sizing: border-box;
}
/* ...knobby while dragging */ 
.progressBar:active::-webkit-slider-thumb {
   transform: scale(1.1);
}

/* knobby for FIREFOX */ 
.progressBar::-moz-range-thumb {
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   border: 1px solid white;
   background-color: var(--knobby);
   cursor: pointer;
   position: relative;
   z-index: 3;
   box-sizing: border-box;
}
/* ...knobby while dragging */ 
.progressBar:active::-moz-range-thumb {
   transform: scale(1.1);
}



