.navbar {
   padding: 0;
   margin: 0;
   background-color: black;
}

.brand {
   display: flex;
   align-items: center;
}

.brandImg {
   height: 40px;
}
.grow {
   flex-grow: 1;
}

.button {
   margin-right: 1rem;
}

@media screen and (max-width: 356px) {
   .button {
      display: none;
   }
}

.navbar a {
   color: rgb(253, 253, 253);
   padding: 1rem;
   text-shadow: 3px 3px 3px #c5ddf5;
   font-family: 'Dosis', sans-serif;
   cursor: pointer;
}