.videoPlayer {
   width: 100vw;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 2rem;
}

.title {
   font-family: 'Montserrat', sans-serif;
   padding: 1rem;
   color: white;
   font-size: 3rem;
}

.video {
   padding: 0 1rem;
} 