* {
   padding: 0;
   margin: 0;
}

.main {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}

.heroComponent {
   background-color: black;
}

.container {
   min-height: 100vh;
   max-width: 100vw;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   background-image: url(./assets/images/bg-large.webp);
   background-size: cover; 
}

.audioComponent {
   padding: 3rem 1rem; 
}

.videoComponent {
   padding: 2rem 1rem;
}


